---
import AppointeddLogo from "@images/appointedd-logo.svg";
import ClearSkyLogicLogo from "@images/clearskylogic-logo.jpg";
import CodebarLogo from "@images/codebar-logo.png";
import profileImage from "@images/profile.jpg";
import { Temporal } from "@js-temporal/polyfill";
import DefaultLayout from "@layouts/DefaultLayout.astro";
import { Image } from "astro:assets";
import clsx from "clsx";
import Divider from "src/components/Divider.astro";
import ExperienceCard from "src/components/ExperienceCard.astro";
import IconCardLink from "src/components/IconCardLink.astro";
import Tag from "src/components/Tag.astro";

const images = {
  companies: {
    appointedd: {
      alt: "Appointedd Logo",
      height: 80,
      src: AppointeddLogo,
      width: 220,
    },
    clearSkyLogic: {
      alt: "ClearSky Logic Logo",
      class: clsx("!bg-[#19181D]"),
      height: 80,
      src: ClearSkyLogicLogo,
      width: 80,
    },
    codebar: {
      alt: "Codebar Logo",
      height: 80,
      src: CodebarLogo,
      width: 220,
    },
  },
};
---

<DefaultLayout>
  <div class="flex flex-col justify-center gap-12 px-4 py-24 md:px-24">
    <Image
      alt="Profile Image"
      class="mx-auto rounded-full border-8 border-solarized-base2 shadow-2xl dark:border-solarized-base02"
      height={200}
      src={profileImage}
      width={200}
    />
    <div class="flex flex-col gap-4">
      <div class="mx-auto flex flex-col gap-4">
        <h1 class="mx-auto">Geraint Guan</h1>
        <Divider color="red" />
      </div>
      <p class="px-12 text-center text-2xl md:px-24">
        🧑‍💻 Mission driven end-to-end 0 → 1 product builder with 8+ years
        experience building and scaling products in startup, scaleup, and agency
        environments.
      </p>
      <p class="mt-2 px-12 text-center text-2xl md:px-24">
        I'm always happy to chat about building products, technology, and
        startups! Drop me a line on any of the platforms below if you'd like to
        connect.
      </p>
      <div class="m-auto mt-4 flex flex-row flex-wrap gap-4">
        <IconCardLink
          href="https://www.linkedin.com/in/geraintguan/"
          icon="fa6-brands:linkedin"
          label="LinkedIn"
        />
        <IconCardLink
          href="https://github.com/geraintguan"
          icon="fa6-brands:github-square"
          label="GitHub"
        />
        <IconCardLink
          href="mailto:mail@geraint.io"
          icon="fa6-solid:square-envelope"
          label="Email"
        />
      </div>
      <div class="mt-4 flex flex-col gap-8">
        <div class="mx-auto flex flex-col gap-4">
          <h1 class="mx-auto">Tech Stack</h1>
          <Divider color="green" />
          <p class="px-12 text-center text-2xl md:px-24">
            Technologies that I ❤️ to build with.
          </p>
        </div>
        <div class="flex flex-wrap gap-2">
          {
            [
              "Astro",
              "AWS",
              "Development Containers",
              "Digital Ocean",
              "Docker",
              "DynamoDB",
              "Expo",
              "Fastify",
              "GitHub Actions",
              "GitHub",
              "MongoDB",
              "Node.js",
              "PostgreSQL",
              "React Native",
              "React",
              "Redis",
              "tRPC",
              "TypeScript",
              "Vite",
              "Vitest",
              "VS Code",
            ].map((tag) => {
              return <Tag label={tag} />;
            })
          }
        </div>
      </div>
      <div class="mt-4 flex flex-col gap-12">
        <div class="mx-auto flex flex-col gap-4">
          <h1 class="mx-auto">Experience</h1>
          <Divider />
          <p class="px-12 text-center text-2xl md:px-24">
            Professional roles that I've held. 🧑‍💼
          </p>
        </div>
        <ExperienceCard
          company={{
            name: "ClearSky Logic",
            url: "https://clearskylogic.com",
          }}
          image={images.companies.clearSkyLogic}
          start={Temporal.PlainDate.from("2025-03-01")}
          tags={[
            "Azure",
            "C#",
            ".NET",
            "MSSQL",
            "Azure DevOps",
            "Azure DevOps Pipelines",
          ]}
          title="Tech Lead"
        >
          <div class="flex flex-col gap-4">
            <p>
              I joined in the middle of discovery for a new client project and
              after successful completion I am now leading a team of 3 engineers
              in the implementation phase.
            </p>

            <div>
              <b>Notable Achievements</b>
              <ul class="list-disc pl-8">
                <li>
                  Successfully completed discovery phase for a new HealthTech
                  client project with complex operating requirements.
                </li>
                <li>
                  Created a technical architecture plan in a high complexity and
                  security environment that was well received and approved by
                  the client.
                </li>
                <li>
                  Leading an implementation team of 3 engineers with a mixture
                  of technical stakeholder management with the client,
                  supporting the team technically, and some hands-on individual
                  contributions.
                </li>
              </ul>
            </div>
          </div>
        </ExperienceCard>
        <ExperienceCard
          company={{
            name: "Appointedd",
            url: "https://appointedd.com",
          }}
          end={Temporal.PlainDate.from("2025-03-01")}
          image={images.companies.appointedd}
          start={Temporal.PlainDate.from("2023-10-01")}
          tags={[
            "AWS",
            "TypeScript",
            "React",
            "Node.js",
            "MongoDB",
            "React Native",
            "GraphQL",
            "tRPC",
            "Fastify",
            "Expo",
            "JavaScript",
            "AngularJS",
            "PHP",
            "Docker",
            "GitHub",
            "GitHub Actions",
          ]}
          title="Head of Developer Operations"
        >
          <div class="flex flex-col gap-4">
            <p>
              I started to take on more leadership responsibilities by heading
              up a department focused on maintaining and improving Appointedd's
              infrastructure, internal tooling, and customer issue triage
              processes. I continued to support the wider engineering team with
              building key product features.
            </p>

            <div>
              <b>Notable Achievements</b>
              <ul class="list-disc pl-8">
                <li>
                  Worked with leadership to spearhead building a developer
                  operations department and reorganise team structure.
                </li>
                <li>
                  Designed a well received high-level modern architecture plan
                  with clear next steps to work towards to.
                </li>
                <li>
                  Advised leadership on technical strategy, issues, and culture.
                </li>
              </ul>
            </div>
          </div>
        </ExperienceCard>
        <ExperienceCard
          company={{
            name: "Appointedd",
            url: "https://appointedd.com",
          }}
          end={Temporal.PlainDate.from("2023-10-01")}
          image={images.companies.appointedd}
          start={Temporal.PlainDate.from("2020-04-01")}
          tags={[
            "AWS",
            "TypeScript",
            "React",
            "Node.js",
            "MongoDB",
            "React Native",
            "GraphQL",
            "tRPC",
            "Fastify",
            "JavaScript",
            "AngularJS",
            "PHP",
            "Docker",
            "GitHub",
            "GItHub Actions",
          ]}
          title="Lead Software Engineer"
        >
          <div class="flex flex-col gap-4">
            <p>
              I started to take on more leadership responsibilities along with
              my individual contribution work, balancing the two
              responsibilities. I led a product development team of 2 - 3
              engineers, scoping and delivering key product features and
              improvements from conception to release.
            </p>

            <div>
              <b>Notable Achievements</b>
              <ul class="list-disc pl-8">
                <li>
                  Led, mentored, and line managed a team of 2 - 3 product
                  engineers to successfully deliver numerous key product
                  features and improvements.
                </li>
                <li>
                  Successfully worked end-to-end solo to deliver a key client
                  requested mobile app integration.
                </li>
                <li>
                  Supported client success team with problem solving and fixing
                  critical client issues.
                </li>
              </ul>
            </div>
          </div>
        </ExperienceCard>
        <ExperienceCard
          company={{
            name: "Appointedd",
            url: "https://appointedd.com",
          }}
          end={Temporal.PlainDate.from("2020-04-01")}
          image={images.companies.appointedd}
          start={Temporal.PlainDate.from("2019-01-01")}
          tags={[
            "AWS",
            "TypeScript",
            "React",
            "Node.js",
            "MongoDB",
            "React Native",
            "GraphQL",
            "Fastify",
            "JavaScript",
            "AngularJS",
            "PHP",
            "Docker",
            "GitHub",
            "GItHub Actions",
          ]}
          title="Senior Software Engineer"
        >
          <div class="flex flex-col gap-4">
            <p>
              I continued to develop my technical and product skills as I
              progressed in seniority. Continued to do solo feature development,
              supporting other team members in the engineering team, and started
              to contribute to infrastructure maintenance and development.
            </p>

            <div>
              <b>Notable Achievements</b>
              <ul class="list-disc pl-8">
                <li>
                  Migrated core bookings engine to serverless reducing
                  infrastructure costs by 20% and improving stability.
                </li>
                <li>
                  Spearheaded introduction of new technologies and processes
                  improving developer productivity and application performance.
                </li>
                <li>
                  Supported commercial and client success teams on calls to help
                  close and retain key clients.
                </li>
              </ul>
            </div>
          </div>
        </ExperienceCard>
        <ExperienceCard
          company={{
            name: "Appointedd",
            url: "https://appointedd.com",
          }}
          end={Temporal.PlainDate.from("2019-01-01")}
          image={images.companies.appointedd}
          start={Temporal.PlainDate.from("2017-01-01")}
          tags={[
            "AWS",
            "JavaScript",
            "AngularJS",
            "Node.js",
            "MongoDB",
            "PHP",
            "Docker",
            "CodeShip",
          ]}
          title="Software Engineer"
        >
          <div class="flex flex-col gap-4">
            <p>
              My first professional role after graduating. I primarily did solo
              feature development and bug fixing, as well as customer support
              rotations.
            </p>

            <div>
              <b>Notable Achievements</b>
              <ul class="list-disc pl-8">
                <li>
                  Built the first version of our public-facing RESTful API.
                </li>
                <li>
                  Completely rebuilt our core availability engine and launched
                  it with no outages.
                </li>
                <li>
                  Created technical challenge that we used to hire further
                  engineers to the team.
                </li>
              </ul>
            </div>
          </div>
        </ExperienceCard>
      </div>
      <div class="mt-4 flex flex-col gap-8">
        <div class="mx-auto flex flex-col gap-4">
          <h1 class="mx-auto">Extracurricular</h1>
          <Divider color="violet" />
          <p class="px-12 text-center text-2xl md:px-24">
            Other things I do. 🤹
          </p>
        </div>
        <ExperienceCard
          company={{
            name: "codebar",
            url: "https://codebar.io",
          }}
          image={images.companies.codebar}
          start={Temporal.PlainDate.from("2024-01-01")}
          tags={[]}
          title="Volunteer Coach"
        >
          <p>
            I regularly volunteer as a coach at the Edinburgh chapter. Codebar
            is a charity that facilitates the growth of a diverse tech community
            by running free programming workshops for minority groups in tech.
          </p>
        </ExperienceCard>
      </div>
    </div>
  </div>
</DefaultLayout>
